# Byte-compiled / cache
__pycache__/
*.py[cod]

# Django stuff:
*.sqlite3
*.log
staticfiles/
media/
syncDatabase/
# Environments
.env
venv/
ENV/
env/
.env.production

# VS Code
.vscode/

# MacOS
.DS_Store

# Ignore DB backups
*.dump
*.sql